body {
	background-color: orange;
}

@media (max-width: 1080px) {
	.facet_sidebar {
		display: none;
		background-color: yellow;
	}
}

@media (max-width: 550px) {
	.facet_sidebar {
		display: none;
		background-color: red;
	}
}

@media (max-width: 400px) {
	.facet_sidebar {
		display: none;
		background-color: blue;
	}
}
