body {
	background-color: #ffc0cb;
}

@media (min-width: 675px) {
	.facet_sidebar {
		display: none;
		background-color: lightblue;
	}
}

@media (min-width: 999px) {
	.facet_sidebar {
		display: none;
		background-color: lightgreen;
	}
}

@media (min-width: 1280px) {
	.facet_sidebar {
		display: none;
		background-color: purple;
	}
}
